.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px 0 30px;
  width: 100%;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  h4 {
    font-family: Montserrat;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration-line: none;
    color: #000000;
  }
  h4:hover {
    color: #bd1d1d;
  }
}
.navText {
  text-decoration-line: none;
}
